/* Layout */
article, body>header {
    padding: 1rem 1rem;
    width: max-content;
    max-width: 80vw;
    margin: 2rem auto;
}

article {
    display: table;
    width: 1%;
}

article header {
    padding: 0 1rem;
    text-align: center;
    white-space: nowrap;
}

article main {
    margin: 0 auto;
    display: table;
    white-space: nowrap;
}

article main section  {
    display: table-row;
}

article main section>* {
    display: table-cell;
}

.section-name {
    opacity: 0.7;
    font-style: italic;
}
section .section-name {
    text-align: right;
}


/* Typography */
h2 {
    margin: 0.5rem 0 1rem 0;
    font-size: 2rem;
}
.verse p {
    letter-spacing: 0.02rem;
}
p {
    margin: 0.5rem 0;
    padding: 0.6rem 0.6rem;
}
footer {
    font-size: 0.8rem;
}

/* Chords */
.verse-chord {
    white-space: pre;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: -0.1em;
}

.line {
    display: inline-block;
    height: 2.8rem;
    line-height: 3.4rem;
    position: relative;
}
.verse-chord {
    position: absolute;
    top: -1.2rem;
}

.chords-only .verse-chord {
    position: relative;
    margin-right: 0.5rem;
    top: 0;
}

.text-only {
    line-height: 1.2rem;
}

/* Repeats */
.repetition p {
    line-height: 2.1rem;
}
/*.repetition .repeat {
    display: table;
    padding-right: 3rem;
}*/
.repeat {
    display: block;
    padding-right: 5rem;
    position: relative;
}
.repeat::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    min-height: 1.8rem;
    right: 2rem;
    width: 0.5rem;
    border-right: 2px solid black;
    border-radius: 0 0.5rem 0.5rem 0;
}
.repeat-count::before, .repeat-count::after {
    content: '';
    display: block;
    position: absolute;
    left: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    padding-top: 1px;
    margin-left: -2px;
    white-space: pre;
    border-left: 2px solid black;
}
.repeat-count::before {
    top: 0;
    border-bottom-left-radius: 0.5rem;
}
.repeat-count::after {
    bottom: 0;
    border-top-left-radius: 0.5rem;
}
.repeat-count {
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 1rem;
    line-height: 1rem;
    padding-left: 1.5rem;
    margin-left: -3rem;
    background: white;
}
.verse-repeat {
    opacity: 0.9;
    font-style: italic;
}

/* Links and references */
article:target {
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.3);
}

a[href^="#"] {
    text-decoration: none;
    color: black;
}

.links {
    text-align: right;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

/* Notes */

.notes {
    max-width: max-content;
    margin: 0 auto;
}

/* Forms */

label {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
label input {
    flex: 1;
}

/* Search */

.searching article {
    display: none;
}

.searching article section, .searching article footer {
    display: none;
}

.searching article.found {
    display: table;
}

/* Wide screen */

@media screen and (min-width: 1000px) {
    article, body>header {
        max-width: 800px;
    }
}

/* Favorites */

.star {
    font-size: 0; /* Hide the * */
}

.star::after {
    font-size: 2rem;
    content: '★';
    color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* Printing */

@media print {
    body, article {
        margin: 0 auto;
        padding: 0;
        width: unset;
        max-width: unset;
    }
    h2 {
        margin: 0.4rem 0;
    }
    body>header {
        display: none;
    }
    article {
        page-break-inside: avoid;
    }
    .targetted article {
        display: none;
    }
    .targetted article.target {
        display: block;
        box-shadow: unset;
    }
    p {
        padding: 0.2rem 0.6rem;
    }
    .line {
        height: 2.4rem;
        line-height: 3rem;
    }
    article footer .links {
        display: none;
    }
    .verse-chord {
        top: -1rem;
    }
}
